@import "tailwindcss";

html, body, #root {
  height: 100%;
}

:root {
  color-scheme: light dark;
}

body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
